@import "tailwindcss";

@layer base {
  body {
    font-family: 'Hind Siliguri', 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  }
}

/* Custom scrollbars for cart & drawers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1ede4;
}
::-webkit-scrollbar-thumb {
  background: #d4cbbe;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b5a999;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-shipping-label, #printable-shipping-label * {
    visibility: visible;
  }
  #printable-shipping-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
